.Logo {
    width: 100px;
    height: 150px;
    margin-top: 120px;
   object-fit: cover;
}

.LogoText {
    margin-top: -0.6em;
    font-family: "BMDOHYEON";
    font-size: 2em;
    font-weight: 900;
}

// margin-top: 9em;
//width: 120px;
//height: 120px;
//object-fit: cover;