.Logo {
    width: 150px;
    height: 190px;
    margin-top: 110px;
   object-fit: cover;
}

.LogoText {
    margin-top: -1.5em;
    font-family: "BMDOHYEON";
    font-size: 1.5em;
}

// margin-top: 9em;
//width: 120px;
//height: 120px;
//object-fit: cover;