.CalenderStyle {
    //margin-top: 1em;
    //margin-left: -1em;
    background-color: #fffad7;
    //width: 225.6;
    //size: small;
    //font-family: 'BMJUA';
}

.CalenderLocation {
    margin-top: 0.5em;
    margin-left: -1em;

}

.VerticalLine {
    margin-top: 3.5em;
    margin-left: 1em;
    border-left: 2px solid rgb(254, 243, 188);
    height: 43em;
}