.tableStyle {
    margin-Top: 1em;
    margin-Left: 20%;
    width: 70%;
    height: 500;
    overflow: 'hidden';
}

.tableTitle{
    margin-top: 1em;
    margin-Left: 10%;
    color: black;
    width: 10em;
    font-family: 'BMJUA';
    font-size: 2em;
}

.tableTime{
    margin-Left: 18.5%;
    color: black;
    width: 26em;
    height: 1em;
    padding: 0.5em;
    background-color: #FFF0C9;
    font-family: 'BMJUA';
    font-size: 2em;
    border-radius: 1em;
}