.LogoImage{
    margin-top: 2em;
    margin-left: -3em;
    widtH: 5em;
    height: 5em;
}

.LogoText{
    margin-top: 2em;
    font-family: 'BMDOHYEON';
    font-size: 1.77em; //기존 2em
    font-weight: bolder;
}