.RoundSquare {
    margin-top: 1em;
    margin-left: -1em;
    widtH: 18.3sem;
    height: 20em;
    border-radius: 20px;
    background-color: #FFF8BA;
}

.InformationInput{
    //margin-top: 1em;
    //margin-left: 0.6em;    
    margin: 1em;
    border-radius: 15px;
    widtH: 12em;
    //height: 21em;
    background-color: #FFF8BA;
    border:none;
    font-family: 'BMJUA';
    font-size:medium;
    outline: none;
}

.InformationOutline{
    margin-top: 1em;
    margin-left: -1em;    
    border-radius: 15px;
    widtH: 14em;
    height: 32em;
    background-color: #FFF8BA;
    border:none;
    outline: none;
}

.InformationSaveButton{
    font-family: 'BMJUA';
    //margin-left: 12em;
    margin-top: 0em;
    width: 5em;
    height: 2.2em;
    border-radius: 10px;
    border-color: #FFC928;   
    background-color: #ffe45c;

}