.tableStyle {
    margin-Top: -35em;
    margin-Left: 3.5em;
    width: 75%;
    height: 500;
    overflow: 'hidden';
    //font-family: 'BMJUA';
}

.tableOutline {
    margin-top: 1em;
    margin-Left: 2.5em;
    width: 60em;
    height: 35em;
    padding: 0.5em;
    background-color: #FBE5AD;
    border-radius: 1em;
}

.tableTime{
    margin-top: 1em;
    margin-Left: 0.5em;
    width: 29.5em;
    height: 1em;
    padding: 0.5em;
    color: black;
    background-color: #FBE5AD;
    font-family: 'BMJUA';
    font-size: 2em;
    border-radius: 0.6em;
}

.tableTitle{
    margin-top: 2em;
    margin-Left: -2.5em;
    width: 10em;
    color: black;
    font-family: 'BMJUA';
    font-size: 2em;
}

.offlineRegisterButton{
    margin-top: 6.2em;
    margin-left: -6.3em;
    width: 1em;
    height: 1em;
    padding: 2em;
    color: black;
    background-color: #FFC928;
    font-family: 'BMJUA';
    font-size: 2em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    float: 'left';
}

.offlineRegisterText{
    margin-left: -6.5em;
    width: 10em;
    height: 1em;
    padding: 0.5em;
    color: black;
    font-family: 'BMJUA';
    font-size: 2em;
    border-radius: 1em;
    float: 'left';
    text-align: left;
}

.stopRegisterButton{
    margin-top: 1.1em;
    margin-left: -6.3em;
    width: 1em;
    height: 1em;
    padding: 2em;
    color: black;
    background-color: #F96F6F;
    font-family: 'BMJUA';
    font-size: 2em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    float: 'left';
}

.stopRegisterText{
    margin-left: -6.5em;
    width: 10em;
    height: 1em;
    padding: 0.5em;
    color: black;
    font-family: 'BMJUA';
    font-size: 2em;
    border-radius: 1em;
    float: 'left';
    text-align: left;
}

.closeBg{
    background-color: #F96F6F;
}
.openBg{
    background-color: rgb(203, 255, 90);
    //background-color: #b3fd43;

}